<div class="container">
  <%="Hello #{params[:input]}"%><br>
  <%="you said #{params[:description]}"%><br>
  <%="your eyes are #{params[:eye_color]}"%><br>
  <%="you're having #{params[:drinks]} with your #{params[:option1]}."%>
</div>
